button {
    z-index: 2;
    background-color: aqua;
    overflow: hidden;
}
button::after {
    content: "";
    width: 250px;
    height: 190px;
    background-color: #C6A953;
    position: absolute;
    top: -70px;
    right: -20px;
    transition: all ease 0.8s;
    z-index: -1;
    transform: rotate(-40deg);
}
button:hover::after {
    width: 0;
}